body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #2b283a;
}


/* Layouts */
header{
    background-color: #5f29a3;
    padding: 45px 0;
}

.container{
    width: 620px;
    margin: 0 auto;
    padding: 45px 0;
}

.images-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-two{
    background-color: #5f29a3;
    color: whitesmoke;
}

footer{
    text-align: center;
    color: #5f29a3;
    padding: 45px 0;
}


/* images */

.sneakers-img{
    width: 100%;
}

.section-two-img{
    width: 300px;
    border-radius: 4.6px;
}

/* Typographie */

h1, h3{
    margin: 0;
}

h1{
    font-size: 36px;
}

h2{
    margin-top: 0;
    font-size: 24px;
}

h3{
    font-size: 20px;
}

header h1{
    color: whitesmoke;
}

header h3{
    color: #d0aaff;
}

p{
    line-height: 25px;
}

/* LINKS */
a{
    color: #ef5839;
    text-decoration: underline dotted;
}

a:hover, a:active{
    color: #d4b44c;
}


.btn{
    display: inline-block;
    margin: 10px 0;
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500px;
    text-decoration: none;

}

.btn:hover, .btn:active{
    background-color: #f3e885;
    color: #2b283a;
}

.nft-btn{
    background-color: #5f29a3;
    color: whitesmoke;
}

.info-btn{
    background-color: #f0e0ff;
    color: #5f29a3;
}

.about-btn{
    background-color: whitesmoke;
    color: #5f29a3;
}

.contact-btn{
    background-color: #f0e0ff;
    color: #5f29a3;
}